# Apache Commons 로깅 사용 오류 설정
lombok.log.apacheCommons.flagUsage = error

# Log4j 로깅 사용 오류 설정
lombok.log.log4j.flagUsage = error

# Log4j2 로깅 사용 오류 설정
lombok.log.log4j2.flagUsage = error

# XSLF4J 로깅 사용 오류 설정
lombok.log.xslf4j.flagUsage = error

# 로깅 필드 이름 설정
lombok.log.fieldName=log

# 로깅 필드를 정적으로 설정
lombok.log.fieldIsStatic=true

# @AllArgsConstructor 어노테이션 사용 오류 설정
lombok.allArgsConstructor.flagUsage = error

# @RequiredArgsConstructor 어노테이션 사용 오류 설정
lombok.requiredArgsConstructor.flagUsage = error

# @Data 어노테이션 사용 오류 설정
lombok.data.flagUsage = error

# @Equals 어노테이션 사용 오류 설정
lombok.equals.flagUsage= error

# @HashCode 어노테이션 사용 오류 설정
lombok.hashCode.flagUsage= error

# @EqualsAndHashCode 어노테이션 사용 오류 설정
lombok.equalsAndhashCode.flagUsage= error
